apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor
  template:
    metadata:
      labels:
        app: monitor
    spec:
      containers:
        - name: monitor
          # A imagem será atualizada automaticamente no CI/CD
          image: luizcolli/monitor:latest   # <-- coloque seu usuário do Docker Hub aqui
          imagePullPolicy: IfNotPresent     # <-- alterado de Never para IfNotPresent
          ports:
            - containerPort: 3000
