name: CI - Build and Push to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:  # permite rodar manualmente

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout do código
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Instalar Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 3️⃣ Instalar dependências
      - name: Install dependencies
        run: npm install

      # 4️⃣ Rodar testes
      - name: Run tests
        run: npm test

      # 5️⃣ Login no Docker Hub usando os secrets
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 6️⃣ Build da imagem Docker
      - name: Build Docker image
        run: |
          docker build -t luizcolli/monitor:latest -f monitor/Dockerfile .

      # 7️⃣ Push da imagem para o Docker Hub
        run: |
          docker push luizcolli/monitor:latest
